@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================
   Fonts
========================= */
@font-face {
  font-family: "TAN Nimbus";
  src: url("./assets/fonts/TANNimbus-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* =========================
   Base styles
========================= */
@layer base {
  body {
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: "Poppins", system-ui, sans-serif;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}
